@model IEnumerable<PitchingTube.Models.UserInfo>

@{
    ViewBag.Title = "History";
}

<tr class="Tr">
                    <td ></td>
                    <td >HISTORY</td>
                    <td  ></td>
</tr>
@{
    foreach (var itemModel in Model)
    {
        <tr class="Tr">
                    <td  ></td>
                    <td ><img src="@itemModel.AvatarPath" alt="" width="60" /> </td>
                    <td class="style4" >@itemModel.Name<br /> @itemModel.Description</td>
        </tr>
    }
}