@model IEnumerable<PitchingTube.Models.UserInfo>

@{
    ViewBag.Title = "History";
}

<tr class="Tr" style="text-align:left;">
<td></td>
                    <td >
                    <table>
                    <tr>
                        <td colspan="2">HISTORY</td>
                    </tr>
@{
    foreach (var itemModel in Model)
    {
        <tr style="text-align:left;">
                    <td>
                        <img src="@itemModel.AvatarPath" alt="" width="60" />
                    </td>
                    <td>
                    <div style="padding:2px;">
                        <span class="Name" style="font-weight:bold;">@itemModel.Name</span>
                    <br />
                        <span class="ideaDescription"> @itemModel.Description</span>
                    </div>
                    
                    </td>
        </tr>
    }
}

</table>
</td>
</tr>