@model PitchingTube.Models.GeneralUserModel

@{
    ViewBag.Title = "AccountSettings";
}

<h2>Account Settings</h2>

<fieldset>
    <legend>You settings</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <p>
        @Html.ActionLink("Change password", "ChangePassword", "Account");
    </p>
    <p>
        @Html.ActionLink("Change my settings", "", "");
    </p>
</fieldset>

