@model PitchingTube.Models.UserInfo

@{
    ViewBag.Title = "AccountSettings";
}

<h2>Account Settings</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>You settings</legend>

        <div class="display-label">UserName</div>
        <div class="display-field">
            @Html.TextBoxFor(model => model.Name)
        </div>

        <div class="display-label">Email</div>
        <div class="display-field">
            @Html.TextBoxFor(model => model.Email)
        </div>

        <p>
            @Html.ActionLink("Change password", "ChangePassword", "Account")
        </p>
        <p>
            @Html.CheckBoxFor(model => model.isPublish, new {@id = "publish"})publish results to the facebook
        </p>
        <p>
            <input type="submit" value="Save Changes" />
        </p>
    </fieldset>
}
<script type="text/javascript">

</script>