@model IEnumerable<PitchingTube.Data.PartnerRepository.PartnerInfo>

@{
    ViewBag.Title = "History";
}

<h2>History</h2>
@{
    foreach (var itemModel in Model)
    {
      
                <img src="@Url.Content(itemModel.AvatarPath)" height="60px" /><br/>
                @Html.DisplayFor(m => itemModel.Name)
                @Html.DisplayFor(m => itemModel.Contact)
    }