@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/tube.css")" rel="stylesheet" type="text/css" />
<div style="margin: 0 auto; width: 900px; height: 90px">
    <div style="float: left; text-align: center; height: 0px;">
        <div class="alertIn" style="margin: 0 auto; text-align: center; font-size: 25px;
            display: none">
        </div>
        <h1>
            Investor</h1>
    </div>
    <div class="alertStart" style="margin: 0 auto; text-align: center; font-size: 25px;
        display: none">
    </div>
    <div style="float: right; text-align: center; height: 0px;">
        <div class="alertEn" style="margin: 0 auto; text-align: center; font-size: 25px;
            display: none">
        </div>
        <h1>
            Intreprenuer</h1>
    </div>
</div>
<div class="content" style="height: 400px; margin: 0 auto; width: 900px">

</div>
<script type="text/javascript">
    var timer;
    var i = 2;
    function stopInterval() {
        clearInterval(timer);
        $(".alertStart").text("Well, starting pitch").fadeOut(5000);
        var timer2 = setInterval(function () {
        alert("here");
            i--;
            $(".alertStart").text("Pitch will be started in " + i + " seconds").show();
            if (i == 0) {
                clearInterval(timer2);
                $(".alertStart").hide();
                alert("Go! Go! Go!");

            }
        }, 1000);
    }
    $(document).ready(function () {
        $(".content").load("/Tube/TubePeopleList?tubeid=@ViewBag.TubeId");
        timer = setInterval(function () {
            $(".content").load("/Tube/TubePeopleList?tubeid=@ViewBag.TubeId");
        }, 2000);

        //Refreshes every 30 seconds
        $.ajaxSetup({ cache: true });  //Turn off caching
    });

    function startPitch()
    {
        window.location.href="@Url.Content("StartPitch")";
    } 

</script>
