@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/tube.css")" rel="stylesheet" type="text/css" />



<div class="content" style="height: 400px; margin: 0 auto; width: 900px">
<div style="clear:both"></div>
<div class="secondInfoHeader" style="text-align:center">
The pitch will be started automatically in <span id="autoStartText"></span> minutes
</div>
    <div class="left" id="columnleft" style="width: 250px">
    
    <div class="alertIn" style="margin: 0 auto; text-align: center; font-size: 25px;
            display: none">
        </div>
        <h1 class="blackWhiteHeader">
            Investors</h1>

    </div>
@*    <div style="text-align:center;vertical-align:middle;">
        <img src="/Content/img/PreloaderResult.gif" alt="" />   
    </div>*@

    <div class="right" id="columnright" style="width: 250px">
    
    <div class="alertEn" style="margin: 0 auto; text-align: center; font-size: 25px;
            display: none">
        </div>
            <h1 class="blackWhiteHeader">
            Entrepreneurs</h1>
    
    </div>
</div>


<div id="startPitchTimeout">
            <div class="Preloader" style="text-align:center;">
                <img src="@Url.Content("/Content/img/icon-timer.png")" alt="" />
            </div>
            <span class="secondInfoHeader" style="width:400px;">
                Pitch will be started in <span id="startPitchTimeoutText"></span> seconds
            </span>
</div>
<script type="text/javascript">
    var timer;
    var i = 10;
    var count = 0;
    var autoTimeout = 10;
    function stopInterval() {
        $('#startPitchTimeout').dialog("open");
        clearInterval(timer);
        var timer2 = setInterval(function () {
            i--;
            $("#startPitchTimeoutText").text(i);
            if (i == 0) {
                clearInterval(timer2);
                $(".secondInfoHeader").text("Ready, Steady, Go!!!");
                startPitch();

            }
        }, 1000);
    }
    $(document).ready(function () {
        getParticipants();
        timer = setInterval(onTimerTick, 2000);
        //Refreshes every 30 seconds
        $.ajaxSetup({ cache: false });  //Turn off caching
    });
    function Insertp(i, x) {
        if (x[i].Role == "Investor") {
            var tmp = '<div class="participant-container left"><div class="avatar"><img src="' + x[i].AvatarPath + '" alt="user-avatar" class="right"/><div class="investorname"><h2>' + x[i].Name + '</h2></div><div class="ideaDescription">' + x[i].Description + '</div></div></div>';
            $('#columnleft').append(tmp);
        } else {
            var tmp2 = '<div class="participant-container right"><div class="avatar"><img src="' + x[i].AvatarPath + '" alt="user-avatar" class="left"/><div class="entrepreunername"><h2>' + x[i].Name + '</h2></div><div class="ideaDescription">' + x[i].Description + '</div></div></div>';
            $('#columnright').append(tmp2);
        }
    }

    function onTimerTick(){
        getParticipants();
        getAutoStart();
    }

    function getAutoStart(){
        $.getJSON("/Tube/GetTubeTimeout?tubeid=@ViewBag.TubeId", function(x) {
            var minutesLeft = autoTimeout - x.timeOut;
            if(minutesLeft <= 0)
                stopInterval();
            if($("#autoStartText").text() != minutesLeft)
                $("#autoStartText").text(minutesLeft);
        });
    }

    function getParticipants() {
        $.getJSON("/Tube/TubePeopleList?tubeid=@ViewBag.TubeId", function(x) {
            if (x.leftInvestor == 0 && x.leftEntrepreneur == 0) {
                stopInterval();
            } else {
                if (x.leftEntrepreneur > 1) {
                    $(".alertEn").html("" + x.leftEntrepreneur + " left").show();
                } else {
                    $(".alertEn").html("" + x.leftEntrepreneur + " left").show();
                }
                if (x.leftInvestor > 1) {
                    $(".alertIn").html("" + x.leftInvestor + " left").show();
                } else {
                    $(".alertIn").html("" + x.leftInvestor + " left").show();
                }
            }
            if(count < x.model.length) {
                for (var i = count; i < x.model.length; i++)
                    Insertp(i, x.model);
                count = x.model.length;
            }
            if(count == 0)
                for (var i = 0; i < x.model.length; i++)
                    Insertp(i, x.model);
     
        });
    }

    function startPitch()
    {
        $.post('/Tube/SetTubeMode?mode=1', function() {
            window.location.href="@Url.Content("/Tube/StartPitch")";
        });

        
    } 

    $('#startPitchTimeout').dialog({
        autoOpen: false,
        modal: true,
        resizable: false,
        width: 'auto'
    });

    $('#logon').click(function () {
        
        return false;
    });

</script>
