@{
    ViewBag.Title = "ShareContacts";
}

<h2>ShareContacts</h2>
<div id ="SCDiv"  style="{display:none}">
<!-- отбражаем данные об собеседнике из Model !-->
</div>
<input type="text" id="SC" name="ShareContactsButton" />
<script language="javascript">
    $('#SC').bind("click", function () {
        $('#SCDiv').show(); $.ajax({
            url: '/Tube/ShareContacts',             // указываем URL 
            success: function (data, textStatus) { 
                         // записываем в историю что был обмен контактами
               }
        });
    })
</script>
