@{
    ViewBag.Title = "TubeExcluded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ConteinerPpreloader">
    <div class="Message">
        <table class="title"> 
        <tr>
            <td colspan="2"> We are sorry, but we can't find partner for you in this tube. Please, try connect to another tube. </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Main page","Index","Home",new {@class = "Button1"})
            </td>
            <td>
                @Html.ActionLink("Search again", "FindTube", "Tube", new {description = ViewBag.Description}, new { @class = "Button1" })
            </td>
        </tr>
        </table>
    </div>
</div>
