@{
    ViewBag.Title = "AccountPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


Your trial account is activated. 
<p>
@Html.ActionLink("Main page","Index","Home",new {@class = "Button1"})
</p>