@{
    ViewBag.Title = "AccountPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="containerInvestors">

<div class="mainInfoHeader" style="text-align:center;">
    Your trial account is activated<br />
    for 30 days
</div>
<div style="text-align:center"> 
@Html.ActionLink("Main page","Index","Home",new {@class = "simpleButton",@style="color:White"})
</div>

</div>