@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "startPitchForm" }))
{  
    <div class="containerInvestors">
    @if(ViewBag.Pay=="no") 
    {
        <input type="button" value="Start free trial" />
    }
    else
    {
        <h1 class="header">@ViewBag.Message</h1>
        <table>
            <tr>
                <td style="height: 81px">
                    <input id="txtIdeaDescription" class="txtIdea" name="description" type="text" value="@ViewBag.DefaultValue"
                            onfocus="this.title=(this.title ? this.title : this.value); this.value=(this.value==this.title ? '' : this.value);" onblur="this.value=(this.value=='' ? this.title : this.value);"/>
                </td>
                <td>
                    <input id="ibGo" type="image" src="@Url.Content("../../Content/img/btn-go.png")" style="right: 10px; position: relative"/>
                </td>
            </tr>
        </table>
    }
    </div>   
}

<div class="boxSections">
    <div class="subheader">
        <p id="lblSteps"><b>3 STEPS</b> TO GO</p>
    </div>
    <div class="cell">
        <a href="#">
            <span class="sectionHeader" id="lblPitch">
                <img src="../../Content/img/icon-timer.png" alt="" /><br/>
                Prepare the <b>one minute</b> pitch</span>&nbsp;
            <img src="../../Content/img/icon-more.png" alt="" align="absbottom" /></a>
    </div>
    <div class="spacer">&nbsp;</div>
    <div class="cell">
        <a href="#">
            <span class="sectionHeader" id="lblShare">
                <img src="../../Content/img/icon-lamp.png" alt="" /><br/>
                Share it with <b>investors</b></span>&nbsp;
            <img src="../../Content/img/icon-more.png" alt="" align="absbottom" /></a>
    </div>
    <div class="spacer">&nbsp;</div>
    <div class="cell">
        <a href="#">
            <span class="sectionHeader" id="lblFeedback">
                <img src="../../Content/img/icon-handshake.png" alt="" /><br/>
                Get useful <b>contacts</b> and feedback</span>&nbsp;
            <img src="../../Content/img/icon-more.png" alt="" align="absbottom" /></a>
    </div>
</div>



