html, body, form
{
    margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
    height: 100%;
    z-index: 0;
}

body
{
    font: 12px Helvetica, Arial, sans-serif, Tahoma, Verdana;
    color: #474747;
    background-image:url("../Content/img/Fon.png")
}

a {
    text-decoration: none
}

a:link { color: #474747 }
a:visited {color: #474747 }
a:active {color: #474747 }
a:hover {color: #474747 }

ul {
    list-style: none
}

table
{
    border-collapse:collapse;    
    padding:0px
}

img {
    border: 0px

}

h1, h2, h3, h4, h5, h6
{
    font-weight: 200;
    margin: 0px
}

.clearer {
    clear: both
}

.stripe {
    height: 5px;
}

.containerToolbar {
    width: 800px;
    margin: 0 auto;
    height: 36px;
    padding-top: 5px
}

.containerToolbar .toolbar {
    float: right;
    height: 100%;
    width: 220px;
    text-align:center;
    background-image:url(../Content/img/BlackRectangle.png);
}

.containerMain {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em
}

.containerLogo {
    width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom:40px;
}
.containerLogo .containerLogoLogotype
{
	float:left;	
}
.containerLogo .ConteinerUserLogin
{
    float:right;
    vertical-align:text-top;		
}

.containerInvestors {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center
}

.containerInvestors h1.header {
    font-size: 40px;
    padding-bottom: 30px
}

.txtIdea {
    background-color: #D6FACC;
    border-radius: 8px 0 0 8px;
    border-width: 0;
    font-size: 50px;
    font-weight: bold;
    height: 79px;
    padding-left: 20px;
    width: 685px
}

.boxSections {
    width: 800px;
    margin: 30px auto 0px;
    text-align: center;
    padding-bottom:40px;
}

.boxSections .subheader {
    font-size: 40px;
    padding-bottom: 40px
}

.boxSections .spacer{
    float: left;
    width: 190px
}

.boxSections .cell{
    float: left;
    width: 140px;
    text-align: left;
    padding-bottom: 40px;
}

.boxSections .cell .sectionHeader{
    font-size: 22px
}

.containerRegistration {
    width: 100%;
    background-color: #F0FFF0;
    height: auto;
    margin-top: 40px
}

.containerRegistration .frame{
    width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}
.containerRegistration .frame .TableTr
{
	height:30px;
}
.containerRegistration .frame .TableTr .Grand
{
	font-family:Helvetica;
	font-size:30px;
}
.containerRegistration .frame .TableTr .Games
{
	font-family:Helvetica;
	font-size:30px;
}
.containerRegistration .frame .TableTr .Her
{
	font-family:Helvetica;
	font-size:14px;
	padding-right:40px;
	padding-top:10px;
	padding-bottom:10px;
}
.containerRegistration .frame .style1
{
	text-align: right;
	font: 15px Helvetica Bold;	
	width:30px;
	background-color:#D6FACC;
	padding-left:10px;
}
.containerRegistration .frame .style2
{
	text-align: left;	
	padding-left:5px;
	width:230px;
	background-color:#D6FACC;
	padding-left:10px;
}
.containerRegistration .frame .style3
{
	font-family:Helvetica_Light-Normal;
    font-size:40px;
    background-color:#D6FACC;
    padding-left:10px;
    padding-top:20px;
}
.containerRegistration .frame .TextBox
{
	width:220px;
	height:25px;	
	background-color:Honeydew;
	font: 15px Helvetica Bold;
	border:0px ;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 0 0 0;
}
.containerRegistration .frame .TextBox:focus 
{ 
	border: 3px solid #3CB371; 
}
.containerRegistration .frame .TextBox:hover 
{ 
	border: 3px solid #3CB371; 
}
.containerRegistration .frame .TableTr .button
{
	background-color:#D6FACC;
	padding-right:10px;	
}
.containerRegistration .frame .TableTr .free
{
	background-color:#D6FACC;	
}
.containerRegistration .frame .TableTr .file
{
	opacity: 0;
	z-index:2;
	width: 200px;
	margin-top:-30px;
	vertical-align:middle;
}
.containerRegistration .frame .TextBoxN
{
	border-style: none;
	z-index:1;
	border-color: inherit;
	border-width: 0px;
	background-color:Honeydew;
	font: 15px Helvetica Bold;
	border-radius: 5px 5px 5px 5px;
	margin-left:-210px;
	vertical-align:middle;
	margin-top:-30px;
	width:127px;
	height:25px;	
}
.containerRegistration .frame .TextBoxN:focus 
{ 
	border: 3px solid #3CB371; 
}
.containerRegistration .frame .TextBoxN:hover 
{ 
	border: 3px solid #3CB371; 
}
.containerRegistration .frame .button1
{
	background-color:Black;
	z-index:1;
	margin-top:-30px;
	vertical-align:middle;
	border-radius: 5px 5px 5px 5px;
	width:60px;
	height:30px;
	color:White; 
}
.containerPitch{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-left:200px;
    padding-bottom:70px;
    text-align: center;
}
.containerPitch .Tr{
    height:60px;
    font:20px PFDinTextPro-Thin;
}
.containerPitch .time
{
	font:70px PFDinTextPro-Thin;
	text-align:right;
	padding-right:5px;	
	vertical-align:top;
}
.containerPitch .video
{
	vertical-align:top;
}
.containerPitch .investor
{
	font:20px PFDinTextPro-Thin;	
	text-align:left;
	padding-left:5px;
	background-color:#D6FACC;
}
.containerPitch .question
{
	font:20px PFDinTextPro-Thin;	
	text-align:right;
	padding-right:5px;
}
.containerPitch .style3
{	
	text-align:left;
	padding-left:5px;
	background-color:#D6FACC;
	padding-top:20px;
	width:55px;
}
.containerPitch .style4
{
	text-align:left;
	font:18px PFDinTextPro-Light;	
}
.containerPitch .OtherRooms
{
	width:100%;	
}
.containerPitch .OtherRooms .Probel
{
	width:58px;
}
.containerPitch .OtherRooms .RoomTr
{
	height:60px;	
}
.containerPitch .OtherRooms .LeftRoomTrFIO
{
	height:60px;
	vertical-align:top;	
	font:18px PFDinTextPro-Light;	
	text-align:left;
}
.containerPitch .OtherRooms .RightRoomTrFIO
{
	height:60px;
	vertical-align:top;	
	font:18px PFDinTextPro-Light;	
	text-align:right;
}
.ConteinerPpreloader 
{
	width: 800px;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
} 
.ConteinerPpreloader  .Preloader
{
	padding-top:150px;
}
.ConteinerPpreloader .Searching
{
	font: 40px Tahoma;
	color:#696969;			
}
.ConteinerPpreloader .Minutes
{
	font: 35px Tahoma;
	color:#696969;			
}
.ConteinerPpreloader .Message
{
	background-color:#D6FACC;
	width:600px;
	height:180px;
	margin: 0 auto;	
}
.ConteinerPpreloader .Message .title
{
	margin: 0 auto;	
	font: 40px Tahoma;
	color:#696969;	
	margin-top:30px;
}
.ConteinerPpreloader .Message .Button1
{
	width:120px;
	height:40px;
	border:none;
	background-color:Black;
	text-align:center;
	border-radius: 5px 5px 5px 5px;	
	margin-top:20px;
}
.ConteinerPpreloader .Message .Button2
{
	width:120px;
	height:40px;
	border:none;
	background-color:Black;
	text-align:center;
	border-radius: 5px 5px 5px 5px;	
	margin-top:20px;
}
.ConteinerResult
{
	width: 800px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px	
}
.ConteinerResult .resultTable
{
}
.ConteinerResult .resultTable .Tr
{
	height:120px;
}
.ConteinerResult .Title
{
	font-size:20px;
	padding-bottom:15px;
	padding-left:15px;
}
.ConteinerResult .Number
{
	font-size:55px;
	font-weight: 100;
	font-family: Garamond Premier Pro Light;
	text-align:right;
}
.ConteinerResult .Zvezda
{
	vertical-align:super;
	text-align:left;	
}
.ConteinerResult .Name
{
	font-size:18px;
	padding-bottom:30px;
}
.ConteinerResult .Idea
{
	font-size:16px;
	font-weight: bold;
	font-family:Helvetica Neue;
	vertical-align:super;
}
.ConteinerResult .Idea .DescribeIdea
{
	padding-right:50px;	
	width:400px;
}
.ConteinerResult .Preloader
{
	width:70px;
	text-align:center;
}
.ConteinerResult .Galochka
{
	text-align:left;
	padding-bottom:2px;
}
.ConteinerResult .Galochka .Pending
{
	margin-top:-30px;
	text-align:center;	
}
.ConteinerNomination
{
	width: 800px;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    font-family:Tahoma;
}
.ConteinerNomination .Tr
{
	height:100px;
}
.ConteinerNomination .Tr .Idea
{
	font:18px Helvetica Bold;
    vertical-align:sub;
    padding-left:20px;
}
.ConteinerNomination .Tr .Idea .DescribeIdea
{
	padding-right:10PX;
	width:300px;
}
.ConteinerNomination .FIO
{
    font:18px Helvetica Bold;
    vertical-align:bottom;
}
.ConteinerNomination  .Button1
{
	width:80px;
	height:40px;
	border:none;
	font-size:18px;
	background-color:Black;
	text-align:center;
	border-radius: 5px 5px 5px 5px;	
	float:right;
	margin-left:10px;
	margin-top:7px;
}
.footer {
    width: 800px;
    height: 4em;
    margin: 0 auto;
}