.avatar img
{
    display: inline-block;
    height: 75px;
    width: 75px;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.participant-container
{
    width: 250px;
}
.investorname
{
    padding-left: 10px;
    height: 80px;
}
.entrepreunername
{
    height: 80px;
    padding-left: 85px;
}
